.register_content{
	width: 100%;
	height: 600px;
	background:url(https://www.sundan.com/public/images/84/ad/0d/470776d8e6a087986897d96fb6a217d7abcf5f81.jpg) no-repeat center center ;
	/* 背景图 */
}
.register_content .main{
	width: 1226px;
	height: 600px;
	margin: 0 auto;
}
.register_content .register{
	padding: 30px;
	margin-top: 100px;
	width: 320px;
	height: 350px;
	float: right;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px #d9d9d9;
	box-shadow: 0 0 20px #d9d9d9;
}
.register_content .register h2{
	margin-bottom: 10px;
	color: #313131;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
}
/* 使用flex布局 */
.register_content .register .news{
	display: flex;
	width: 100%;
	height: 38px;
}
.register_content .register .news i{
	width: 40px;
	height: 40px;
	background: url(https://www.sundan.com/themes/shundian/images/login_name.png) no-repeat center center #f3f3f3;
}
/* 注册文本框设为flex：1 */
.register_content .register .news input{
	flex: 1;
	text-indent: 10px;
	width: 100px;
	height: 38px;
	outline: none;
	border: 1px solid #999999;
	text-indent: 5px;
}
/* 提示文字大小12px */
.register_content .register .fname,.register_content .register .fpass{
	font-size: 12px;
}
.register_content .register .vcode{
	width: 100%;
	height: 38px;
	margin-top: 10px;
}

.register_content .register .vcode span{
	display: inline-block;
	width: 100px;
}
.register_content .register .fnum{
	display: block;
	font-size: 12px;
}
.register_content .register .forget{
	margin-bottom: 10px;
}
.register_content .register .forget a{
	color: #111;
	margin: 0 5px;
	font-size: 14px;
}
/* 阅读协议 */
.register_content .read{
	font-size: 14px;
	color: #333333;
}
.register_content .read input{
	margin: 4px 15px 2px 0;
	float: left;
}
.register_content .register button{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	background-color: skyblue;
	text-align: center;
	line-height: 40px;
	border: 1px solid skyblue;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	color: #f0f0f0;
}
/* 转到登录页面 */
.register_content .login {
	margin-top: 10px;
}
.register_content .login span{
	font-size: 14px;
	color: black;
}
.register_content .login a{
	margin-left: 10px;
	font-size: 16px;
	color: skyblue;
}
/* 错误提示文字 */
.fname,.fpass{
	padding: 0 10px;
}